.timetable {
  display: block;

  @media (max-width: $screen-xs-max) {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  th {
    width: 15%;
    padding: 8px;
    background-color: #9350b5;
    border-left: 1px solid #ccc;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;

    &.timetable_time {
      width: 5%;
      background-color: #fff;
      border: 1px solid #ccc;
    }
    &.venue-f,
    &.venue-e {
      width: 10%;
    }
  }

  &_time {
    width: 60px;
    height: 45px;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.2rem;
    font-family: monospace;
  }

  td:not(.timetable_time) {
    max-width: 200px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #d5efe1;
    font-size: 1.4rem;

    &.timetable_session {
      background-color: #fff;
    }
    &.timetable_lunch {
      background-color: #fff;
      font-weight: bold;
    }
    &.timetable_extra {
      background-color: #fff;
      font-weight: bold;
    }
    &.timetable_relay {
      background-color: #e8e7d8;
    }
    &.timetable_bside {
      background-color: #fff;

      .timetable_theme {
        background-color: #d1d500;
      }
    }
    &.timetable_closed {
      background-color: #eaeaea;
    }
  }

  &_session {
  }

  &_theme {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0 5px;
    background-color: $brand-color;
    border-radius: 2px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &_speakerImage {
    margin-bottom: 8px;

    img {
      border-radius: 50%;
    }
  }

  &_title {
    margin-bottom: 8px;
    line-height: 1.4;
    font-weight: bold;
    font-feature-settings: "palt";
    white-space: pre-wrap;
  }

  &_speaker {
    color: #aaa;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  &_speakerName {
    margin-bottom: 4px;
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
