// Brand colors
// ------------
$brand-color: #67208b;
$brand-sub-color: #852ab3;
// $brand-sub-color: #67208b;
$brand-sub-text-color: #fff;
$twitter-color: #55acee;

// Measures
// --------
$header-height: 60px;
