---
title: 個人情報の取扱いについて
description: Product Manager Conference　における個人情報の取扱いについてご説明します。
---

.container
  .pageHeader
    h1.pageHeader_title = current_page.data.title

  article.article
    .article_body
      p プロダクトマネージャーカンファレンス実行委員会（以下「当委員会」）主催のイベント（以下「本イベント」）での個人情報の取り扱いは、運営事務局である株式会社メジャースに委託・管理されています。
      p また、本イベントの登録時、本イベントの受付時で収集した個人情報は、当該イベントのスポンサー企業と共同利用します。
      p その個人情報の一部（氏名、会社名、電子メールアドレス、年代、職種、役職）とそれに紐づくアンケート情報（事業内容、従業員規模、製品導入への関与度合い）は、本イベントへの参加に関する運営管理や当委員会の関係する各種イベントのお知らせ、また共同利用するスポンサー企業の製品・サービスに関する情報やマーケティング活動に関する情報のお知らせのほか、採用活動に関する情報のお知らせに使用いたします。
      p なお、本イベントの登録時、来場後に取得したすべてのアンケート情報は、個人を特定できない形で集計し、本イベント内やWebサイト上などで統計データとして公開する場合があります。

      h2 お問い合わせ
      p プロダクトマネージャーカンファレンス 運営事務局
      p
        i.fa.fa-fw.fa-envelope-o
        =< link_to 'info@pmconf.jp', 'mailto:info@pmconf.jp', target: '_blank'
